<!doctype html>
<html>
    <head>
        <title>Тестирование алгоритмов трекинга</title>
        <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"> -->
    </head>


    <img  id="videoimg" src="{{url_for('video')}}"  style="cursor: crosshair;" width="50%">
    <img  id="videoimg" src="{{url_for('bytetrack_video')}}"  style="cursor: crosshair;" width="50%">
    <!-- <img  id="videoimg" src="{{url_for('video')}}"  style="cursor: crosshair;" width="50%"> -->

</html>